<div style="width: 210px;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
            <div class="form-group">
                <span class="p-float-label">
                    <input
                        id="email"
                        type="text"
                        pInputText
                        formControlName="email"
                        [ngClass]="{
                            'ng-dirty':
                                !loginForm.get('userData.email').valid &&
                                loginForm.get('userData.email').touched,
                            'ng-invalid':
                                !loginForm.get('userData.email').valid &&
                                loginForm.get('userData.email').touched
                        }"
                    />
                    <label for="email">Email</label>
                </span>
                <span
                    class="help-block"
                    *ngIf="
                        !loginForm.get('userData.email').valid &&
                        loginForm.get('userData.email').touched
                    "
                >
                    <small
                        *ngIf="
                        loginForm.get('userData.email').hasError('email')
                        "
                        class="p-error block"
                        >This email is invalid</small
                    >
                    <small
                        *ngIf="
                        loginForm
                                .get('userData.email')
                                .hasError('required')
                        "
                        class="p-error block"
                        >This field is required</small
                    >
                </span>
            </div>
            <div class="form-group mt-4">
                <span class="p-float-label">
                    <input
                        id="password"
                        type="password"
                        pInputText
                        formControlName="password"
                        [ngClass]="{
                            'ng-dirty':
                                !loginForm.get('userData.password').valid &&
                                loginForm.get('userData.password').touched,
                            'ng-invalid':
                                !loginForm.get('userData.password').valid &&
                                loginForm.get('userData.password').touched
                        }"
                    />
                    <label for="password">Password</label>
                </span>
                <span
                    class="help-block"
                    *ngIf="
                        !loginForm.get('userData.password').valid &&
                        loginForm.get('userData.password').touched
                    "
                >
                    <small
                        *ngIf="
                            loginForm
                                .get('userData.password')
                                .hasError('required')
                        "
                        class="p-error block"
                        >This field is required</small
                    >
                </span>
            </div>
        </div>
        <button
            pButton
            pRipple
            style="padding: 12px 75px;"
            type="submit"
            label="Submit"
            class="p-button-rounded mt-3"
            [disabled]="!loginForm.valid"
        ></button>
    </form>
</div>

<p-toast position="top-center"></p-toast>
