/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: var(--bs-body-color) !important;
  font-family: var(--bs-body-font-family) !important ;
  color: var(--text-color) !important;
}
